
@{
    ViewBag.Title = "Blog";
    Layout = "~/Areas/Sales/Views/Shared/_Layout.cshtml";
}

<!--Body Content-->
<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center mb-0">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Blog trang sức</h1></div>
        </div>
    </div>
    <!--End Page Title-->
    <div class="bredcrumbWrap">
        <div class="container breadcrumbs">
            <a href="index.html" title="Back to the home page">Trang chủ</a><span aria-hidden="true">›</span><span>Blog</span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!--Main Content-->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                <div class="custom-search">
                    <form action="http://annimexweb.com/search" method="get" class="input-group search-header search" role="search" style="position: relative;">
                        <input class="search-header__input search__input input-group__field" type="search" name="q" placeholder="Search" aria-label="Search" autocomplete="off">
                        <span class="input-group__btn"><button class="btnSearch" type="submit"> <i class="icon anm anm-search-l"></i> </button></span>
                    </form>
                </div>
                <div class="blog--list-view blog--grid-load-more">
                    <div class="article">
                        <!-- Article Image -->
                        <a class="article_featured-image" href="#"><img data-src="~/ASSETS/assets/images/blog/blog_image5.jpg" src="~/ASSETS/assets/images/blog/blog_image5.jpg" alt="It's all about how you wear"></a>
                        <h2 class="h3"><a href="blog-left-sidebar.html">NHỮNG KIỂU NHẪN CẦU HÔN ĐẸP KHIẾN NÀNG KHÔNG THỂ CHỐI TỪ</a></h2>
                        <ul class="publish-detail">
                            <li><i class="anm anm-user-al" aria-hidden="true"></i>  Người dùng</li>
                            <li><i class="icon anm anm-clock-r"></i> <time datetime="2017-05-02">04/10/2021</time></li>
                            <li>
                                <ul class="inline-list">
                                    <li><i class="icon anm anm-comments-l"></i> <a href="#"> 0 bình luận</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="rte">
                            <p>Mùa hè năm Cô Vy thứ 2 lỡ chậm kế hoạch rước nàng về dinh, nhưng các đấng mày râu hẵng đừng vội buồn. Hãy cùng Huy Thanh Jewelry lên kế hoạch về một màn cầu hôn "từ xa" với một chiếc nhẫn cầu hôn lấp lánh trước thềm cửa, chờ đợi cái gật đầu từ cô ... </p>
                        </div>
                        <p><a href="#" class="btn btn-secondary btn--small">Chi tiết <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
                    </div>
                    <div class="article">
                        <!-- Article Image -->
                        <a class="article_featured-image" href="#"><img data-src="~/ASSETS/assets/images/blog/blog_image2.jpg" src="~/ASSETS/assets/images/blog/blog_image2.jpg" alt="27 Days of Spring Fashion Recap"></a>
                        <h2 class="h3"><a href="blog-right-sidebar.html">BST HERA - GỢI NÉT KIÊU KỲ CỦA NGƯỜI PHỤ NỮ HIỆN ĐẠI</a></h2>
                        <ul class="publish-detail">
                            <li><i class="anm anm-user-al" aria-hidden="true"></i> Người dùng</li>
                            <li><i class="icon anm anm-clock-r"></i> <time datetime="2017-05-02">04/10/2021</time></li>
                            <li>
                                <ul class="inline-list">
                                    <li><i class="icon anm anm-comments-l"></i> <a href="#"> 0 bình luận</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="rte">
                            <p>Không dừng lại ở những món đồ làm đẹp, trang sức dần trở thành dấu ấn cá nhân riêng biệt, thay mỗi người phụ nữ nói với thế giới rằng họ là ai. Theo dòng chảy thời trang Xuân Hè 2021, BST nhẫn Hera by Huy Thanh được ra mắt với sứ mệnh trở thành tu...</p>
                        </div>
                        <p><a href="#" class="btn btn-secondary btn--small">Chi tiết <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
                    </div>
                    <div class="article">
                        <!-- Article Image -->
                        <a class="article_featured-image" href="#"><img data-src="~/ASSETS/assets/images/blog/blog_image3.jpg" src="~/ASSETS/assets/images/blog/blog_image3.jpg" alt="How to Wear The Folds Trend Four Ways"></a>
                        <h2 class="h3"><a href="#">GỢI Ý TIPS CHỌN NHẪN CƯỚI THEO DÁNG TAY</a></h2>
                        <ul class="publish-detail">
                            <li><i class="anm anm-user-al" aria-hidden="true"></i>  Người dùng</li>
                            <li><i class="icon anm anm-clock-r"></i> <time datetime="2017-05-02">05/10/2021</time></li>
                            <li>
                                <ul class="inline-list">
                                    <li><i class="icon anm anm-comments-l"></i> <a href="#"> 10 bình luận</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="rte">
                            <p>Mỗi người khi sinh ra đều được ông trời ban cho một đôi tay với hình hài khác nhau, nói lên được tích cách, số phận sau này. Có người sẽ tự hào về đôi bàn tay ấy nhưng cũng không ít người nhất là các bạn nữ tự ti và không muốn đeo trang sức. Nhưng...</p>
                        </div>
                        <p><a href="#" class="btn btn-secondary btn--small">Chi tiết <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
                    </div>
                    <div class="article">
                        <!-- Article Image -->
                        <a class="article_featured-image" href="#"><img  data-src="~/ASSETS/assets/images/blog/blog_image4.jpg" src="~/ASSETS/assets/images/blog/blog_image4.jpg" alt="Accusantium doloremque"></a>
                        <h2 class="h3"><a href="#">3 LÝ DO PHÁI ĐẸP NÊN LỰA CHỌN TRANG SỨC VÀNG</a></h2>
                        <ul class="publish-detail">
                            <li><i class="anm anm-user-al" aria-hidden="true"></i>  Người dùng</li>
                            <li><i class="icon anm anm-clock-r"></i> <time datetime="2017-05-02">06/10/2021</time></li>
                            <li>
                                <ul class="inline-list">
                                    <li><i class="icon anm anm-comments-l"></i> <a href="#"> 3 bình luận</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="rte">
                            <p> Thời tiết “chuyển mình” sang nắng hè rực rỡ là khoảng thời gian phái đẹp thường xuyên F5 tủ đồ của mình với quần áo, mỹ phẩm, nước hoa, túi xách mới. Trong số đó, trang sức vàng cũng rất quan trọng với nhiều chị em, trở thành một trong những khoản...</p>
                        </div>
                        <p><a href="#" class="btn btn-secondary btn--small">Read more <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
                    </div>
                    <div class="loadmore-post">
                        <a href="#;" class="btn loadMorepost">Chi tiết</a>
                    </div>
                </div>
            </div>
            <!--End Main Content-->
        </div>
    </div>

</div>
<!--End Body Content-->
